<!DOCTYPE html>
<html>

<head>
  <title>Employee Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



</head>

<body>
  <form action="">
    <br>
    <!--binding the annotations created in .ts of child...........-->
    <input type="radio" name="total" value="Total">total:{{Total}}
    <input type="radio" name="gender" value="Female"> Female:{{Female}}
    <input type="radio" name="gender" value="Male"> Male:{{Male}}
    <button class="btn btn-primary" (click)='getName()'>Name</button>
  
  </form>

  

</body>

</html>